.header {
  background: white;
  height: 90px;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  .logo {
    img {
      height: 60px;
    }
  }
  .nav {
    li {
      margin-left: 40px;
      line-height: 90px;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
    .unLogin {
      margin-left: 40px;
      .login {
        cursor: pointer;
        &:hover {
          color: red;
        }
      }
      .register {
        margin-left: 30px;
        .myButton  {
          width: 70px;
          background: #ff8032;
        }
      }
    }
    .hasLogin {
      margin-left: 40px;
    }
  }
}
