.bidding-w {
    width: 1200px;
    margin: 0 auto;
}
.bidding-content {
    min-height: calc(100vh - 90px);
    background: #f3f5f8;
}

.bidding-layout {
    font-weight: 500;
    color: #333333;
    font-family: 微软雅黑, PingFang SC;
}